body {
    font-family: 'Ubuntu', sans-serif;
}
.navbar {
    transition: background-color ease-in .2s;
}
.btn-primary {
    background-color: #000AC2
}
.bg-brand-color-1 {
    background-color: #000AC2
}